page-login {
	ion-content {
		width: 100%;
		ion-img {
			//margin: 25% auto 0;
			width: 100%;
		}

		ion-item {
			padding-left: 0px!important;
		}

		button {
			margin-top: 20px!important;
		}
	}
}
